html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  color: #343a40;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100vh; */
}

#root {
  width: 100%;
}

h1 {
  color: #0056b3;
  margin-bottom: 20px;
  text-align: center;
}